:host ::ng-deep .mat-tab-label {
	min-width: unset !important;
	width: 72px !important;
	height: 72px !important;
	display: flex !important;
	align-items: flex-start !important;
	padding: 5px 10px !important;
	border-width: 0 1px !important;
	border-style: dashed !important;
	flex: auto;

	& .mat-tab-label-content {
		flex-direction: column;
	}
}

:host ::ng-deep .mat-tab-body-wrapper {
	max-height: calc(100vh - 72px - 65px);
	min-height: calc(100vh - 72px - 65px);

	.mat-tab-body-content {
		overflow: unset;
	}
}

.body {
	display: flex;
	flex-direction: row;
}

.tabs {
	height: 100%;
	width: 400px;
	border-left: 1px solid;
	text-align: center;
}

.label-text {
	white-space: normal;
}
