/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; direction: rtl; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
}


.info {
	background-color: steelblue;
}

.warn {
	background-color: goldenrod;
}

.error {
	background-color: tomato;
}

.success { 
	background-color: springgreen;
}

.mat-snack-bar-container { 
	direction: rtl;
}